body {
    margin: 1rem;
}

.card {
    margin: 1rem;
    transition: transform 0.5s;
    overflow: hidden;
}

.card:hover {
    background-color: #badcff ;
}

@media screen and (min-width: 576px){
    .card {
        min-height: 240px;
    }
}

@media screen and (min-width: 768px){
    .card {
        min-height: 210px;
    }
}

.api-output {
    margin-top: 1rem;
}

input {
    margin-bottom: 1rem;
    display: block;
    width: 50vw;
    max-width: 1040px;
}